In [288]:
#imported the library or packages we need over the all sections

from apikeys import my_api_key
import requests
import json
import numpy as np
import pandas as pd
import nltk
import re

# Genre Data (Done)

In [5]:
# Pull out the genre list
def get_genre_list(my_api_key):
    '''Define a function that takes my_api_key as argument, 
       acess the API of IMDB,
       get the genre information, 
       and output the genre list '''
    genre_1 = requests.get("https://api.themoviedb.org/3/genre/movie/list?api_key="+my_api_key+"&language=en-US")
    genre_2 = genre_1.json()
    genre_list = genre_2['genres']
    return genre_list
genre_list=get_genre_list(my_api_key)

In [8]:
# genre_df = pd.DataFrame(genre_list)

In [11]:
# genre_df.to_csv('data/genre.csv', index=False)

# Movie Data (Done)

In [289]:
# Pull out the movie list from released year 2020
# &include_video=false&language=en-US&primary_release_date.gte=2020-01-01&primary_release_date.lte=2020-05-31
def get_movie_list(my_api_key):
    '''Define a function that takes my_api_key as argument, 
       acess the API of IMDB,
       get the all the movie information, 
       and output the movie list including the rating, title, genre, and overview of all the movies in 2020 '''
    movie_1 = requests.get("https://api.themoviedb.org/3/discover/movie?api_key="+my_api_key+"&include_adult=false&primary_release_year=2020&language=en-US")
    movie_2 = movie_1.json()
    page_number = movie_2['total_pages']
    movie_number = movie_2['total_results']
    movie_list = []
    for n in range(1,page_number+1):
        movie_3 = requests.get("https://api.themoviedb.org/3/discover/movie?api_key="+my_api_key+"&include_adult=false&primary_release_year=2020&page=%s"%n)
        movie_4 = movie_3.json()
        movie_result = movie_4['results']
        for item in movie_result:
            movie_list.append({'id':item['id'], 
                               "vote_average": item["vote_average"], 
                               "title": item["title"], 
                               "genre_ids": item["genre_ids"], 
                               "overview": item["overview"], 
                               'popularity':item['popularity'], 
                               'original_language':item['original_language'], 
                               'release_date':item['release_date']})
    return movie_list     
movie_list=get_movie_list(my_api_key)

In [41]:
# pd.DataFrame(movie_list)

,id,vote_average,title,genre_ids,overview,popularity,original_language,release_date
0,338762,7.1,Bloodshot,"[28, 18, 878]","After he and his wife are murdered, marine Ray...",206.878,en,2020-03-05
1,385103,8.2,Scoob!,"[12, 16, 35, 9648, 10751]","In Scooby-Doo’s greatest adventure yet, see th...",253.085,en,2020-05-15
2,582596,6.2,The Wrong Missy,"[35, 10749]",A guy meets the woman of his dreams and invite...,130.525,en,2020-05-13
3,454626,7.6,Sonic the Hedgehog,"[28, 35, 878, 10751]",Based on the global blockbuster videogame fran...,130.190,en,2020-02-12
4,508439,7.9,Onward,"[12, 16, 35, 14, 10751]","In a suburban fantasy world, two teenage elf b...",108.591,en,2020-02-29
...,...,...,...,...,...,...,...,...
6335,705637,0.0,Sugarbabies,[],Desperate Glenn will do anything to hold on to...,0.717,en,2020-02-25
6336,705625,0.0,The Final Years of Majuro,[99],Land is supposed to be the embodiment of perma...,1.400,en,2020-05-05
6337,705617,0.0,Hips Don't Lie,[35],A comedy about the sexy and lovely growth of a...,1.083,ko,2020-12-31
6338,704828,0.0,Lockdown,[53],A man who doesn't remember anything wakes up i...,0.000,id,2020-05-15
6339,701773,0.0,Hidden Windows,[99],,0.000,en,2020-05-08

In [139]:
# page_number = movie_2['total_pages']
# movie_number = movie_2['total_results']
# movie_id_list = []

In [141]:
for n in range(1,page_number+1):
    movie_3 = requests.get("https://api.themoviedb.org/3/discover/movie?api_key="+my_api_key+"&include_adult=false&language=en-US&primary_release_year=2020&page=%s"%n)
    movie_4 = movie_3.json()
    movie_result = movie_4['results']
    for item in movie_result:
        movie_id_list.append({'id':item['id']})

In [144]:
%%time
movie_info_list = []
for n in movie_id_list:
    movie_5 = requests.get("https://api.themoviedb.org/3/movie/"+str(n['id'])+"?api_key="+my_api_key)
    movie_6 = movie_5.json()
    movie_info_list.append(movie_6)

CPU times: user 2min 3s, sys: 8.4 s, total: 2min 12s
Wall time: 22min 41s

# Production companies (Done)

In [145]:
%%time
production_companies_list = []
for i in movie_info_list:
    if i != {'status_code': 34,
 'status_message': 'The resource you requested could not be found.'}:
        for n in i['production_companies']:
            production_companies_list.append(n)

CPU times: user 7.64 ms, sys: 81.7 ms, total: 89.3 ms
Wall time: 239 ms

In [146]:
# production_companies_df = pd.DataFrame(production_companies_list).drop_duplicates()

In [147]:
# production_companies_df

,id,logo_path,name,origin_country
0,25120,/lqUpBvDLQYG3QaKNpe2lxfpgh36.png,Warner Animation Group,US
1,174,/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png,Warner Bros. Pictures,US
2,34,/GagSvqWlyPdkFHMfQ3pNq6ix9P.png,Sony Pictures,US
3,10246,/rREvQNWAxkDfY9CDn2c5YxEMPdP.png,Cross Creek Pictures,US
4,6573,None,Mimran Schur Pictures,US
...,...,...,...,...
4780,100251,None,Aggressively Okay Productions,
4781,129139,None,Goaty Studios,
4782,112076,None,Aesthetic Rebellion Films,
4783,121241,None,MD Productions,
4786,83226,None,VAIT FILMS,

In [148]:
# production_companies_df.to_csv('data/production_companies_010120_050120.csv', index=False)

# Languages (Done)

In [149]:
%%time
language_list = []
for i in movie_info_list:
    if i != {'status_code': 34,
 'status_message': 'The resource you requested could not be found.'}:
        for n in i['spoken_languages']:
            language_list.append(n)

CPU times: user 7.37 ms, sys: 44.2 ms, total: 51.6 ms
Wall time: 105 ms

In [150]:
# language_df = pd.DataFrame(language_list).drop_duplicates()

In [151]:
# language_df

     iso_639_1      name
0           en   English
4           bn     বাংলা
6           hi    हिन्दी
13          es   Español
15          it  Italiano
...        ...       ...
4016        gd
4112        uz     ozbek
4424        gn
4439        xh
4491        ha     Hausa

[98 rows x 2 columns]

In [153]:
# language_df.to_csv('data/language_010120_050120.csv', index=False)